.parentPage {
  display: flex;
  flex-direction: column;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .parentPage p {
    font-size: 19px;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .parentPage p {
    font-size: 20px;
  }
}